aiohttp==3.7.4.post0
aiosqlite==0.17.0
animec==0.4.2
asgiref==3.5.0
async-timeout==3.0.1
asyncpg==0.25.0
attrs==21.4.0
autopep8==1.6.0
beautifulsoup4==4.11.1
bs4==0.0.1
certifi==2021.10.8
chardet==4.0.0
charset-normalizer==2.0.12
click==8.1.2
colorama==0.4.4
discord==1.7.3
discord-py-slash-command==3.0.3
discord.py @ git+https://github.com/Rapptz/discord.py@bd637e2462697e32098efdaa314489631e215f20

dnspython==2.2.1
docopt==0.6.2
easy==0.0.4
easy-pil==0.1.6

idna==3.3
itsdangerous==2.1.2

MarkupSafe==2.1.1
motor==3.0.0
multidict==6.0.2
Pillow==8.4.0
pipreqs==0.4.11
pycodestyle==2.8.0
pymongo==4.1.1

requests==2.27.1
sh==1.14.2
soupsieve==2.3.2.post1
sqlparse==0.4.2
toml==0.10.2
typing_extensions==4.2.0
tzdata==2022.1
urllib3==1.26.9
Werkzeug==2.1.1
yarg==0.1.9
yarl==1.7.2

